.back {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  text-shadow: 0 5px 5px #ffaa2a, 0 -5px 5px #2aff8a;
  font-weight: bold;
}
.create-contact {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
}
.create-contact h3 {
  text-align: center;
}
.create-contact .input-field {
  margin-top: 30px;
}
.create-contact .input-field input {
  width: 100%;
  padding: 4px;
  border: none;
  border-bottom: 2px solid #ffaa2a;
  color: black;
  text-align: center;
}
.create-contact .input-field input:focus {
  border-bottom: 2px solid #2aff8a;
}
.create-contact .input-field input::placeholder {
  color: black;
}
.create-contact .input-field button {
  display: block;
  height: 40px;
  width: 100px;
  margin: 0 auto;
  background: transparent;
  border: 2px solid black;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.create-contact .input-field button:hover {
  transform: scale(1.1);
}
